@model IEnumerable<montanbui.Models.CT_DonHang>

@{
    ViewData["Title"] = "Chi Tiết Đơn Hàng";
}

<h2 class="mb-4">📦 Danh Sách Chi Tiết Đơn Hàng</h2>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Mã Đơn</th>
            <th>Tên Món</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Tổng tiền</th>
            <th>Thao Tác</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDH</td>
                <td>@item.MonAn?.TenMon</td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia.ToString("N0") ₫</td>

                <td>@String.Format("{0:N0} ₫", item.SoLuong * item.DonGia)</td>


                <td>
            
                  
                    <a asp-action="Delete" asp-route-id="@item.MaCT" class="btn btn-sm btn-danger">🗑️ Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
